<!-- Form rsvp start -->
<%= form_with(model: @rsvp, local: true) do |f| %>
<!-- Form rsvp end -->

  <!-- Label and input for user_id start -->
  <!-- Input for user_id start -->
  <%= f.hidden_field :user_id, value: @user.id %>
  <!-- Input for user_id end -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for event_id start -->
  <div class="form-group">
    <%= f.label :event_id %>

    <!-- Input for event_id start -->
    <%= f.text_field :event_id, class: "form-control" %>
    <!-- Input for event_id end -->
  </div>
  <!-- Label and input for event_id end -->

  <!-- Label and input for rsvp_selection start -->
  <div class="form-group">
    <%= f.label :rsvp_selection %>

    <!-- Input for rsvp_selection start -->
    <%= f.text_field :rsvp_selection, class: "form-control" %>
    <!-- Input for rsvp_selection end -->
  </div>
  <!-- Label and input for rsvp_selection end -->

  <%= f.submit "Create rsvp", class: "btn btn-block btn-outline-secondary" %>
<% end %>
