<%= form_with(model: @rsvp, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :event_id %>

    <%= f.collection_select :event_id, Event.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :rsvp_selection %>

    <%= f.text_field :rsvp_selection, class: "form-control" %>
  </div>

  <%= f.submit "Create rsvp", class: "btn btn-block btn-outline-secondary" %>
<% end %>
