<%= search_form_for @q, :class => collapse_search_form, :id => "events_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :event_name_cont, "Event name contains" %>
    <%= f.text_field :event_name_cont, :class => "form-control", :placeholder => "Event name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :details_cont, "Details contains" %>
    <%= f.text_field :details_cont, :class => "form-control", :placeholder => "Details contains" %>
  </div>

  <div class="form-group">
    <%= f.label :host, "Host" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :host_gteq, :class => "form-control", :placeholder => "Host greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :host_lteq, :class => "form-control", :placeholder => "Host less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :event_end, "Event end" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='event_endgteqPicker' data-target-input="nearest">
          <%= f.text_field :event_end_gteq, :class => "form-control datetimepicker-input", :placeholder => "Event end greater than or equal to", :data => {:target => '#event_endgteqPicker'} %>
          <div class="input-group-append" data-target='#event_endgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='event_endlteqPicker' data-target-input="nearest">
          <%= f.text_field :event_end_lteq, :class => "form-control datetimepicker-input", :placeholder => "Event end less than or equal to", :data => {:target => '#event_endlteqPicker'} %>
          <div class="input-group-append" data-target='#event_endlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#event_endgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#event_endlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#event_endgteqPicker').on("dp.change", function (e) {
              $('#event_endlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#event_endlteqPicker').on("dp.change", function (e) {
              $('#event_endgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :event_start, "Event start" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='event_startgteqPicker' data-target-input="nearest">
          <%= f.text_field :event_start_gteq, :class => "form-control datetimepicker-input", :placeholder => "Event start greater than or equal to", :data => {:target => '#event_startgteqPicker'} %>
          <div class="input-group-append" data-target='#event_startgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='event_startlteqPicker' data-target-input="nearest">
          <%= f.text_field :event_start_lteq, :class => "form-control datetimepicker-input", :placeholder => "Event start less than or equal to", :data => {:target => '#event_startlteqPicker'} %>
          <div class="input-group-append" data-target='#event_startlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#event_startgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#event_startlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#event_startgteqPicker').on("dp.change", function (e) {
              $('#event_startlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#event_startlteqPicker').on("dp.change", function (e) {
              $('#event_startgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>




  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/events" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#events_filters">
  Show filters
</a>
