<%= form_with(model: @rsvp, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.hidden_field :event_id, value: @event.id %>

  <div class="form-group">
    <%= f.label :rsvp_selection %>

    <%= f.text_field :rsvp_selection, class: "form-control" %>
  </div>

  <%= f.submit "Create rsvp", class: "btn btn-block btn-outline-secondary" %>
<% end %>
