<% was_validated = event.errors.any? %>

<%= form_with(model: event, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for event_name start -->
  <div class="form-group">
    <% event_name_class = "form-control" %>
    <% event_name_was_invalid = event.errors.include?(:event_name) %>

    <% if was_validated %>
      <% if event_name_was_invalid %>
        <% event_name_class << " is-invalid" %>
      <% else %>
        <% event_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :event_name %>
    <!-- Input for event_name start -->
    <%= f.text_field :event_name, class: event_name_class, placeholder: "Enter event name" %>
    <!-- Input for event_name end -->
    <% if event_name_was_invalid %>
      <% event.errors.full_messages_for(:event_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for event_name end -->
  <!-- Label and input for event_start start -->
  <div class="form-group">
    <% event_start_class = "form-control" %>
    <% event_start_was_invalid = event.errors.include?(:event_start) %>

    <% if was_validated %>
      <% if event_start_was_invalid %>
        <% event_start_class << " is-invalid" %>
      <% else %>
        <% event_start_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :event_start %>
    <!-- Input for event_start start -->
    <%= f.datetime_select :event_start, class: event_start_class, placeholder: "Enter event start" %>
    <!-- Input for event_start end -->
    <% if event_start_was_invalid %>
      <% event.errors.full_messages_for(:event_start).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for event_start end -->
  <!-- Label and input for event_end start -->
  <div class="form-group">
    <% event_end_class = "form-control" %>
    <% event_end_was_invalid = event.errors.include?(:event_end) %>

    <% if was_validated %>
      <% if event_end_was_invalid %>
        <% event_end_class << " is-invalid" %>
      <% else %>
        <% event_end_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :event_end %>
    <!-- Input for event_end start -->
    <%= f.datetime_select :event_end, class: event_end_class, placeholder: "Enter event end" %>
    <!-- Input for event_end end -->
    <% if event_end_was_invalid %>
      <% event.errors.full_messages_for(:event_end).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for event_end end -->
  <!-- Label and input for location start -->
  <div class="form-group">
    <% location_class = "form-control" %>
    <% location_was_invalid = event.errors.include?(:location) %>

    <% if was_validated %>
      <% if location_was_invalid %>
        <% location_class << " is-invalid" %>
      <% else %>
        <% location_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :location %>
    <!-- Input for location start -->
    <%= f.text_field :location, class: location_class, placeholder: "Enter location" %>
    <!-- Input for location end -->
    <% if location_was_invalid %>
      <% event.errors.full_messages_for(:location).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for location end -->
  <!-- Label and input for host start -->
  <div class="form-group">
    <% host_class = "form-control" %>
    <% host_was_invalid = event.errors.include?(:host) %>

    <% if was_validated %>
      <% if host_was_invalid %>
        <% host_class << " is-invalid" %>
      <% else %>
        <% host_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :host %>
    <!-- Input for host start -->
    <%= f.number_field :host, class: host_class, placeholder: "Enter host" %>
    <!-- Input for host end -->
    <% if host_was_invalid %>
      <% event.errors.full_messages_for(:host).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for host end -->
  <!-- Label and input for details start -->
  <div class="form-group">
    <% detail_class = "form-control" %>
    <% detail_was_invalid = event.errors.include?(:detail) %>

    <% if was_validated %>
      <% if detail_was_invalid %>
        <% detail_class << " is-invalid" %>
      <% else %>
        <% detail_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :details %>
    <!-- Input for details start -->
    <%= f.text_field :details, class: detail_class, placeholder: "Enter detail" %>
    <!-- Input for details end -->
    <% if detail_was_invalid %>
      <% event.errors.full_messages_for(:detail).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for details end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
