<% was_validated = rsvp.errors.any? %>

<%= form_with(model: rsvp, local: true, novalidate: true, class: "mb-3") do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-group">
    <% event_class = "form-control" %>
    <% event_was_invalid = rsvp.errors.include?(:event) %>

    <% if was_validated %>
      <% if event_was_invalid %>
        <% event_class << " is-invalid" %>
      <% else %>
        <% event_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :event_id %>
    <%= f.collection_select :event_id, Event.all, :id, :to_s, {}, class: "form-control" %>
    <% if event_was_invalid %>
      <% rsvp.errors.full_messages_for(:event).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% rsvp_selection_class = "form-control" %>
    <% rsvp_selection_was_invalid = rsvp.errors.include?(:rsvp_selection) %>

    <% if was_validated %>
      <% if rsvp_selection_was_invalid %>
        <% rsvp_selection_class << " is-invalid" %>
      <% else %>
        <% rsvp_selection_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :rsvp_selection %>
    <%= f.text_field :rsvp_selection, class: rsvp_selection_class, placeholder: "Enter rsvp selection" %>
    <% if rsvp_selection_was_invalid %>
      <% rsvp.errors.full_messages_for(:rsvp_selection).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
